$primaryColor: #c40000 !default;
$primaryLightColor: #e30000 !default;
$primaryDarkColor: #b00000 !default;
$primaryDarkerColor: #9d0000 !default;
$primaryTextColor: #ffffff !default;

$highlightBg: #fffbeb !default;
$highlightTextColor: $primaryDarkerColor !default;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;

@import 'variables';
@import '../../theme-base/components';
@import 'extensions';
