$primaryColor: #f59e0b !default;
$primaryLightColor: #fef08a !default;
$primaryDarkColor: #d97706 !default;
$primaryDarkerColor: #b45309 !default;
$primaryTextColor: #ffffff !default;

$highlightBg: #fffbeb !default;
$highlightTextColor: $primaryDarkerColor !default;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;

@import 'variables';
@import '../../theme-base/components';
@import 'extensions';
