$primaryColor: #c40000 !default;
$primaryLightColor: #e30000 !default;
$primaryLighterColor: #ff0404 !default;
$primaryLightestColor: #ff2323 !default;
$primaryTextColor: #ffffff !default;

$highlightBg: rgba(212, 0, 0, 0.2) !default;
$highlightTextColor: $primaryLighterColor !default;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;

@import 'variables';
@import '../../theme-base/components';
@import 'extensions';
