name: Update compatibility table

on: push

jobs:
  versioning:
    uses: GEWIS/actions/.github/workflows/versioning.yml@v1
    with:
      dry-run: 'true'

  update-table:
    runs-on: ubuntu-latest
    needs: versioning
    if: ${{ needs.versioning.outputs.next-version != '' }}
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          path: source

      - name: Checkout dependency
        uses: actions/checkout@v4
        with:
          repository: GEWIS/aurora-core
          path: dependency
          fetch-depth: 0

      - name: Update compatibility table
#        run: node ./source/compatibility-table.mjs --source-version v${{ needs.versioning.outputs.next-version }} -d ./dependency -r ./source/README.md
        uses: GEWIS/compatibility-table-action@v1
        with:
          source-version: v${{ needs.versioning.outputs.next-version }}
          dependency-repo: ./dependency
          readme: ./source/README.md

      - name: Commit changes
        working-directory: ./source
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@users.noreply.github.com"
          git add ./README.md
          git commit --no-verify -m "docs: update compatibility table"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
